@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --dark-blue-color: #1D3556;
  --darker-blue-color: #12243d; 
}

body {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 40px 0 30px;
  color: var(--darker-blue-color);
  margin: 10px 0 5px 0;
}

nav h1 {
  font-size: 1.3rem;
  font-weight: 900;
  margin-left: 5px;
}

nav ul {
  list-style-type: none;
  display: flex;
  width: 100px;
  justify-content: space-between;
}

nav ul li:last-child i {
  margin: 0 5px;
}

#categories {
  background-color: var(--dark-blue-color);
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0 auto 25px auto;
}

#categories li {
  margin: 0 15px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}

h2, h3 {
  text-align: center;
}

h2 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--darker-blue-color);
}

#products {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px;
  flex-wrap: wrap;
}

.product {
  margin: 15px 5px;
}

.product img {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  border-radius: 10px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.product .product-name {
  margin-bottom: 5px;
}

.product .product-price {
  font-size: 1.1rem;
  font-weight: 600;
}

footer {
  background-color: var(--dark-blue-color);
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 20px 50px;
}

footer h3 {
  text-align: left;
  font-weight: 600;
  margin-bottom: 5px;
}

#footer-left {
  width: 80%;
}

#footer-right {
  display: flex;
  flex-direction: column;
}

#faq {
  margin-bottom: 10px;
}
